.logo {
    border-radius: 20px;
    height: 65px;
    width: 80px;
}

.shop {
    height: 40px;
    width: 40px;
    margin-right: 10px;

    .cart {
        height: 100%;
        width: 100%;
    }
}
