
.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;

    .signup{
        div{
            margin-top: 20px;
        }
    }   

    > div{
        border: 1px solid black;
        width: 300px;
        height: 500px;
    }
}