.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;

    .sign{
        margin-top: 100px;

        div{
            margin-top: 30px;
        }
        
        .logoimg{
            height: 120px;
            width: 300px;
        }
        
        .btnbox{
            margin-top: 30px;

            .kakaobtn{
                font-weight: bold;
                background-color: #FEE500;
                height: 50px;
                width: 350px;
                border: 2px solid black;
                border-radius: 15px;
            }
    
            .emailbtn{
                font-weight: bold;
                background-color: cornsilk;
                height: 50px;
                width: 350px;
                border: 2px solid black;
                border-radius: 15px;
            }
        }

        .account{
            a{
                cursor: pointer;
                text-decoration-line: none;
    
                &:link{
                    color: black;
                }
                &:visited{
                    color: black;
                }
                &:hover{
                    color: black;
                }
                &:active{
                    color: black;
                }
            }
        }
        
        
    }

}