.container{

    .maincontent{
        border: 1px solid black;
    }

    .sidecontent{
        border: 1px solid black;
    }
}

.maincontent{
    border: 1px solid black;
}

.sidecontent{
    border: 1px solid black;
}