@import "../index.scss";

.container{
    height: calc(100vh - 91px);
    background-color: $bg-color;


    .controllerRow{
        height: 10%;
        margin-bottom: 10px;
    }

    .addContentRow{
        height: 12%;
        margin-bottom: 10px;
    }

    .contentRow{
        height: 75%;
    }
    
}

.controller {
    background-color: $white-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .controllerRow{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .controlform {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .serch {
            width: 20%;
            display: inline-block;
        }
    
        .serchbtn{
            margin-left: 10px;
            background-color: $p-color;
            color: $white-color;
        }

        .btn {
            margin-left: 50px;
            background-color: $p-color;
            color : $white-color;
            font-weight: bold;
        }
    }
    
}

.content {
    background-color: $white-color;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid lightgrey;
    
    .row {
        margin: 0;
    }

    .excel {
        height: 100%;
        width: 100%;
        padding: 20px 20px;
    }
    
    

}

.addContent {
    background-color: $accent-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .addline {
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .text {
            color: $white-color;
            display: inline-block;
            margin: 0;
        }
    
        .selectSize {
            width: 50%;
            margin: 0 auto;
        }

        .addBtn {
            margin: 5px;
            background-color: $primary-color;
            color : $white-color;
            font-weight: bold;
        }
    
        .count {
            margin-left: 10px;
            display: inline-block;
            width: 30%;
            text-align: right;
        }

        .day {
            margin-left: 10px;
            display: inline-block;
            width: 50%;
        }
    }
    

}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.content::-webkit-scrollbar {
    display: none;
  }