@import "../index.scss";

.container{
    height: calc(100vh - 91px);
    background-color: $bg-color;

    .main{
        height: 100%;

        .controllerRow{
            height: 13%;
            margin-bottom: 10px;
        }

        .contentRow{
            height: 85%;
        }
    }
}

.controller {
    background-color: $white-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .controllerRow{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .controlform {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .serch {
            width: 20%;
            display: inline-block;
        }
    
        .serchbtn{
            margin-left: 10px;
            background-color: $p-color;
            color: $white-color;
        }

        .btn {
            margin-left: 50px;
            background-color: $p-color;
            color : $white-color;
            font-weight: bold;
        }
    }
    
}

.content {
    background-color: $white-color;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid lightgrey;
    
    .row {
        margin: 0;
    }

    .excel {
        height: 100%;
        width: 100%;
        padding: 30px 20px;
    }
    
    

}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.content::-webkit-scrollbar {
    display: none;
  }