
.container{
    height: calc(100vh - 56px);

    .main{
        height: 100%;

        .controllerRow{
            height: 20%;
        }

        .contentRow{
            height: 80%;
        }
    }
}

.controller {
    height: 100%;
    background-color: lightblue;
    padding: 20px;

    .controllerRow1{
        height: 30%;
    }

    .controllerRow2{
        height: 70%;
    }

    .title {
        font-weight: bold;
    }

    .controlform {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .serch {
            width: 20%;
            display: inline-block;
        }
    
        .serchbtn{
            margin-left: 10px;
        }

        .btn {
            margin-left: 50px;
        }
    }
    
}

.content {
    background-color: lightcyan;
    padding: 20px;
    
    .line {
        display: flex;
        padding: 5px;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .text {
            display: inline-block;
            margin: 0;
        }
    
        .btn {
            margin-left: 5px;
        }
    
        .count {
            margin-left: 10px;
            display: inline-block;
            width: 30%;
            text-align: right;
        }
    }

    .line:nth-child(odd) {
        background-color: lightskyblue;
    }

    .line:nth-child(even) {
        background-color: lightblue;
    }

}