@import '../index.scss';


.aiSearchContainer
{
  background-color: $bg-color;

  .aiSearchRow
  {
    margin-left: 0;
    margin-right: 0;
    .aiSearchCol
    {
      background-color: #FFFFFF;
    }
  }
}


.aiSearchInputGroup
{
  height: 60px;

  .form
  {
    border: solid 1.5px $p-color;
  }

  // 검색버튼
  .aiSearchButton
  {
    border: solid 2px $p-color;
    color: $p-color;
    font-size: 1.5rem;
  }
}

// 내 재료
.ingredientContainer
{
  margin-top: 2vh;
  border: solid 1px black;
  border-radius: 4px;
  //background-color: ;

  .card
  {
    color: $p-font-color;
    border: 0;

    .title
    {
      font-size: 1.7rem;
    }
  }
}

// 옵션 토글 버튼
.aiSearchOptionContainer
{
  margin-top: 5vh;
  margin-bottom: 5vh;

  .containCard{
    border: 2px solid $p-color;

    .aiSearchOptionHeader
    {

      background-color: #FFFFFF;
      //color: $p-font-color;
      padding: 0;
      //margin: 0;

      .button{
        background-color: $p-color;
        width: 100%;
        color: #FFFFFF;
        border: 0;
        font-size: 1.5rem;

      }
    }
  }
}

// 레시피 보여주기
.recipeContainer
{
  .recipeCard
  {
    margin-bottom: 2vh;
    border: $accent-color 2px solid;

    color: $p-font-color;

    .hearder
    {
      background-color: #FFFFFF;
      //color: #FFFFFF;
      border-bottom: $accent-color 2px solid;

    }

    // 레시피 제목 부분
    .recipeTitleCol
    {
      text-align: center;
      font-size: 1.8rem;

    }

    // 레시피 상세보기 버튼 부분
    .recipeDetailSearchCol
    {
      text-align: right;
      //text-align: center;

      .recipeDetailSearchButton
      {
        width: 30%;
        border: 3px solid $p-color;
        color: $p-color;
        font-size: 1.2rem;
        background-color: #FFFFFF;
      }

      .recipeDetailSearchButton:hover
      {
        font-size: 1.2rem;
        background-color: $p-color;
        color: #FFFFFF;
      }
    }
  }
}

// 부트스트랩 기준 md: 중형 (Medium, ≥768px)
@media (max-width: 860px)
{

  // 레시피 상세보기 버튼 부분
  .recipeDetailSearchCol .recipeDetailSearchButton
  {
    //background-color: #CBECFF;
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
  }

  .recipeDetailSearchCol {
    display: flex;
    justify-content: flex-end;
  }
}

.check{
  input[type="checkbox"] {
    /* Hide the default checkbox */
    display: none;
  }

  /* Container for checkbox and label */
  label {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
  }

  input[type="checkbox"] + label::before {
    /* Style the custom checkbox */
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    //border: 1px solid $accent-color;/* Use your primary color */
    border: 1px solid $p-color;/* Use your primary color */

    background-color: transparent;
    border-radius: 3px;
  }

  input[type="checkbox"]:checked + label::before {
    /* Change the background color when the checkbox is checked */
    //background-color: $accent-color; /* Use your primary color */
    background-color: $p-color; /* Use your primary color */
    //border: 1px solid $p-color;/* Use your primary color */
  }
}

.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.loader {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin .6s linear infinite reverse;

    .character {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      animation: spin 1s infinite ease-in-out;
    }

    .character::after {
      background-image: url('../../assets/Character/char.png');
      background-size: cover;
      position: absolute;
      content: '';
      width: 250px;
      height: 250px;
      top: 0;
    }
}

.loading {
  position: absolute;
  z-index: 1;
  
  .text {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}