

.aiSearchMainCol {
  height: 100vh;
  background-color: lightblue;
  //box-sizing: border-box;
}

.aiSearchOptionButtonContainer
{
  //padding: 0;
  //padding-left: 100%;
  //padding-right: 100%;
  //box-sizing: border-box;
  //contain: layout;
  //position: relative;

  .aiSearchOptionButton{
    //padding-left: 93%;
    //right: 0;
  }

}

.aiSearchInputGroup
{
  margin-top: 3vh;
}


.aiSearchButton
{
  //margin-top: 1vh;
}

.aiSearchOptionButton
{
  //margin-right: 100%;

}

