

.aiSearchMainCol {
  height: 100%;
  background-color: lightblue;
  //box-sizing: border-box;
}

// 내 재료 선택 영역
.myIngredientContainer{

  .myIngredientCard {
    width: 100%;
  }

}


// 선택된 재료 영역
.checkedIngredientContainer{

}


// 레시피 검색 개수 설정 영역
.aiSearchNumberContainer{
  margin-top: 2vh;
  margin-bottom: 2vh;
}


// 레시피 결과 리스트 영역
.aiSearchListContainer{

  .recipeCard
  {
    margin-bottom: 2vh;

    // 레시피 제목 부분
    .recipeTitleCol
    {
      text-align: center;
      font-size: 1.5rem;

    }

    // 레시피 상세보기 버튼 부분
    .recipeDetailSearchCol
    {
      text-align: right;
      //text-align: center;

      .recipeDetailSearchButton
      {
        width: 70%;
      }
    }
  }

}

// 부트스트랩 기준 md: 중형 (Medium, ≥768px)
@media (max-width: 767px)
{

  // 레시피 상세보기 버튼 부분
  .recipeDetailSearchCol .recipeDetailSearchButton
  {
    background-color: #CBECFF;
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
  }

  .recipeDetailSearchCol {
    display: flex;
    justify-content: flex-end;
  }




}