

.aiSearchMainCol {
  height: 100vh;
  background-color: lightblue;
  //box-sizing: border-box;
}

// 내 재료 선택 영역
.myIngredientContainer{

  .myIngredientCard {
    width: 100%;
  }

}


// 선택된 재료 영역
.checkedIngredientContainer{

}


// 레시피 검색 개수 설정 영역
.aiSearchNumberContainer{

}


// 레시피 결과 리스트 영역
.aiSearchListContainer{

}