@import '../index.scss';

.managementNav {
  background-color: #f8f7f4; /* 흰색 배경 */
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: 100vh;
  font-size: 1.9rem;
  border: 1px solid #000000; /* 검은색 테두리 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 테두리에 그림자 추가 */

  font-family: 'Open Sans', sans-serif; /* Open Sans 폰트 적용 */



}